/* General styling */
body > * {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	background: #333;
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: white;
}

/* Form styling */
form {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex: 0 1 auto;
	margin-top: 1em;
	padding-bottom: 1em;
	gap: 0.5em;
	border-block-end: 2px solid #fff;
}

.inputerror {
	display: block;
	color: #b8062c;
	display: none;
}

.active {
	display: block;
}

form button {
	cursor: pointer;
	height: fit-content;
	width: fit-content;
}

/* Weather styling */
.card {
	width: 100%;
	padding-inline: 10px;
	margin-block: 1em;
	flex: 1 1 auto;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	vertical-align: middle;
	padding-bottom: 20px;
}

#city-name {
	text-align: center;
	font-family: 'Merriweather Sans';
	letter-spacing: -1px;
	display: inline;
	padding-inline-end: 10px;
}

.text > * {
	font-size: 1.25em;
	margin-block: 1em;
	text-shadow: 1px 1px 5px #fff;
	font-weight: bold;
}

@media screen and (min-width: 600px) {
	form {
		justify-content: flex-start;
		padding-inline-start: 1em;
	}
}

/* Loader styling */
.loader {
	width: 3em;
	height: 3em;
	border: 10px double #26a104;
	border-top: 10px double transparent;
	border-radius: 100%;
	margin: 1em auto;
	padding: 2em;
	visibility: hidden;
	animation: spin 1s infinite linear;
	display: none;
}

.loader.display {
	visibility: visible;
	display: block;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
