/* General styling */
body > * {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	background: #333;
}

/* Form styling */
form {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-top: 1em;
	padding-bottom: 1em;
	gap: 0.5em;
	border-block-end: 2px solid #fff;
}

.inputerror {
	display: block;
	color: #b8062c;
	display: none;
}

.active {
	display: block;
}

form button {
	cursor: pointer;
	height: fit-content;
	width: fit-content;
}

/* Weather styling */
.card {
	width: 100%;
	padding-inline: 10px;
	margin-block: 1em;
}

img {
	vertical-align: middle;
	padding-bottom: 20px;
}

#city-name {
	text-align: center;
	font-family: 'Merriweather Sans';
	letter-spacing: -1px;
	display: inline;
	padding-inline-end: 10px;
}

.text > * {
	font-size: 1.25em;
	margin-block: 1em;
	text-shadow: 1px 1px 5px #fff;
}
